@font-face {
    font-family: Montserrat; 
    src: url(fonts/montserrat.ttf);
}
html, body{
    position: relative;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(228, 2, 248, 0.21) -3.66%, rgba(0, 242, 213, 0.288) 86.26%), #FFFFFF;
    margin: 0;
}
.myaudio {
    text-align: right;
    text-decoration: none;
  }
.myaudio div{
    display: inline-block;
    list-style: none;
    position:relative;
    right: 0;
    width: 455px;
    height: 45px;
    margin-right: 60px;
    text-align: right;
    top: 25px; 
    font-family: Montserrat, sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: bold;
    line-height: 43,88px;
    color: #000000;
}
.myaudio div a{
    text-decoration:none;
    color: #000000;
}
        

#menu__toggle {
    opacity: 0;
  }
  
  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
    transition-duration: .2s;
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
    
  }
  
  .menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 25px;
    left: 50px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 1;
    transition-duration: .2s;
  }
  
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: inline;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000000;
    transition-duration: .2s;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
    
  }
  
  .menu__box {
    display: inline-block;
    position: fixed;
    visibility: hidden;
    top: 0px;
    left: -4px;
    width: 50%;
    height: 75px;
    margin: 0;
    padding: 0px 50;
    list-style: none;
    background-color: rgba(244, 190, 249, 1);
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    transition-duration: .2s;
  }
  
  .menu__item {
    display: inline;
    padding: 20px 25px;
    color: #333;
    margin-right: -4px;
    float: left;
    font-family: Montserrat, sans-serif;
    font-size: 25px;
    line-height: 25px;
    color: #000000;
    font-style: normal;
    margin-left: 60px;
    text-decoration: none;
    margin-top: 5px;
    transition-duration: .2s;
  }
 
  .menu__item:hover {
    background-color: #f8d4f2;
  }
  .choose{
    position: relative;
    margin-left: 50px;
    margin-top: 40px;
    font-family: Montserrat, sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: bold;
    line-height: 43,88px;
    color: #000000;
    
  }
  .artist ul{
    align-content: center;
list-style: none;
margin: 0;
  }
  .artist_item img{
    display: inline;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    float: left;     
    margin: 60px;
    position: relative;  
    transition:all 0.3s;
    margin-bottom: 40px;
    margin-top: 40px;
  }
 .artist ul li a{
    text-decoration: none;
    float: top;
 }
 .artist{
       
    margin-left: 30px;
    align-items: center;
    width: 100%;
 }
.artist_item img:hover{
    transform: scale(1.3);
    transition:all 0.3s;
    opacity: 0.8;

}
.artist_item :hover .text__item{
    color: aqua;
}

.text a{
    font-family: Montserrat, sans-serif;
    font-size: 28px;
    font-style: normal;
    line-height: 25px;
    color: #000000;
    text-decoration: none;
}
